.btn{
    background: none;
    color:#173B3F;
    margin: 0 auto;
    padding: 0 5px;
    font-size: 18px;
    border-radius: 1px;
    border: 0;
    outline: 0;
    width: 70px;
    height: 30px;
    border: 0;
    transition:100ms all ease;

}

.activate{
    border-bottom: 2px solid #173B3F;
}

.google{
    background-image: url(../../images/Google_2015_logo.svg);
}

.netflix{
    background-image: url(../../images/netflix-1-logo-svgrepo-com.svg);
}
.good-times{
    background-image: url(../../images/goodtime.jpg);
}
.shopify{
    background-image: url(../../images/icons8-shopify-an-e-commerce-platform-that-helps-to-sell-online-24.png);
}
.dashboard{
    background-image: url(../../images/icons8-dashboard-100.png);
}
.calculator{
    background-image: url(../../images/calculator.svg);
}