.homepage{
    background-image:linear-gradient(135deg,rgb(122,220,180,.2) 0%,
    rgb(40,116,252,.125) 100%), url(../images/solar.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    width: 100%;
    min-height:100vh;

}



@media screen and (max-width: 350px){
    .homepage{
        overflow-x: hidden;

    }
}


